.btn-green{
	background-color: #69B380;
	padding:15px 20px;
	border-radius: 4px;
	color: white;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}

.btn-green:hover{
	background-color:rgba(40,40,40,0.9)